<launch>

<include file="$(find localization)/launch/cam_with_model.launch" />
<include file="$(find localization)/launch/aruco_detect.launch" />

<param name="origin_id"    value="10"/>
<param name="robot_id"    value="21"/>
<node pkg="localization" type="correction_service.py" name="correction_service" output="screen" />
<node pkg="localization" type="cam_localization" name="cam_localization" output="screen" />

</launch>

